.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8f0d16;
}

.header a > i {
  margin-right: 10px;
  color: #8f0d16
}

.header .logo {
  max-width: 142px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 5px;
}

.container {
  display: flex;

  justify-content: space-between;
}

.titleContainer {
  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: row;
}

.userContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.userInfos {
  display: flex;
  flex-direction: column;
}

.userInfos > button {
  color: #f6f6f7;
  background: unset;
  border: none;
}

.userInfos > button:hover {
  color: #c9c9c9;
}
