<mat-sidenav-container>
  <mat-sidenav
    class="sidenav" 
    mode="side" 
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item class="card">
        <i class="material-icons">
          home
        </i>
        Início
      </a>
      <a mat-list-item class="card">
        <i class="material-icons">
          short_text
        </i>
        Categoria
      </a>
      <a mat-list-item class="card">
        <i class="material-icons">
          short_text
        </i>
        Equipamento
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
