<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">
    Bem Vindo!
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Gestão de ativos de TI!
  </mat-card-subtitle>
  <mat-list class="container">
    <mat-list-item class="item" *ngFor="let dashboardData of dashboardData">
      <div class="dashboardContainer">
        <div class="icon">
          <i class="material-icons">
            inventory_2
          </i>
        </div>
        <div class="card">
          <div class="cardTitle">
            <p class="titleCard">{{ dashboardData.name }} Totais</p>
            <p class="value"> {{ dashboardData.total }} </p>
          </div>
          <div class="divider"></div>
          <div class="cardTitle">
            <p class="titleCard">{{ dashboardData.name }} disponiveis</p>
            <p class="value"> {{ dashboardData.totalAvailable }} </p>
          </div>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
