<mat-card class="loginContainer">
    <div class="loginCard">
      <div class="titleContainer">
        <div class="icon">
          <span class="material-icons props">
            inventory
          </span>
        </div>
        <h1 class="title">Asset Management</h1>
      </div>
      <mat-form-field>
        <input class="input" matInput placeholder="Email" name="email" 
        [(ngModel)]="user.email" type="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Senha" name="password" 
        [(ngModel)]="user.password" type="password">
      </mat-form-field>
      <button mat-raised-button  (click)="login()" color="primary">Entrar</button>
    </div>
</mat-card>
